// ************************************************************* components ****************************************************** 


// ------------------------------------------ icon lists ----------------------------------------------------------------

// <div class="icon-list">
//   <h5 class="list-title">Factory Address:</h5>
//   <ul class="list-content">
//     <li><i class="fas fa-map-marker-alt"></i>Lot 36, 4th Industrial Zone, 6th October City, Giza, Egypt</li>
//   </ul>
// </div>

@mixin icon-list(
  $title-color,
  $icon-color,
  $list-item-color,
  $list-padding: 40px,
  $icon-top: 7px,
  $title-size: inherit,
  $list-size: inherit,
  $icon-size: inherit,
  $title-margin: 0 0 10px,
  $list-margin: 0 0 10px
) {
  .icon-list {
    .list-title {
      color: $title-color;
      margin: $title-margin;
    }
    ul.list-content {
      list-style: none;
      margin: $list-margin;
      li {
        color: $list-item-color;
        position: relative;
        font-size: $list-size;
        i {
          font-size: $icon-size;
          color: $icon-color;
          position: absolute;
          top: $icon-top;
          @include appDir(left, -$list-padding, right, -$list-padding);
        }
      }
    }
  }
}

