@mixin contact_form_seven(
    $field-bg: #e3f4fb,
    $field-placeholder-color: #79acbd,
    $field-color: black,
    $field-width: 100%,
    $field-min-height: 50px,
    $field-padding: 0 10px,
    $field-font-size: 16px,
    $field-margin-between-rows: 1rem,
    $field-margin-between-cols: 30px,
    $field-border-radius: 10px,
    $field-border-color: transparent,
    $field-border-width: 1px,
    $ta-height: 120px,
    $submit-bg: #ed1b24,
    $submit-txt-color: white,
    $submit-font-weight: normal,
    $btns-padding: 10px 25px,
    $btns-width: 150px,
    $btns-height: inherit,
    $btns-txt-size: 16px,
    $btns-border-radius: $field-border-radius
) {
    .wpcf7-form {
        .form-group {
            margin-bottom: $field-margin-between-rows;
            @include media(">bootstrap-sm") {
                &.row-first,
                &.row-last {
                    width: calc(50% - #{($field-margin-between-cols / 2) + (2 * $field-border-width) + 1});

                    display: inline-block;
                    min-width: 200px;
                }
                @include media(">=big-phone") {
                    &.row-first {
                        @include appDir(
                            margin-right,
                            #{$field-margin-between-cols - (2 * $field-border-width)},
                            margin-left,
                            $field-margin-between-cols
                        );
                    }
                }
            }
            input,
            textarea,
            select {
                &:not([type="submit"]) {
                    width: $field-width;
                    background: $field-bg;
                    border-width: $field-border-width;
                    border-color: $field-border-color;
                    border-style: solid;
                    border-radius: $field-border-radius;
                    min-height: $field-min-height;
                    padding: $field-padding;
                    font-weight: 400;
                    font-size: $field-font-size;
                    transition: all 0.3s ease-in-out;
                    color: $field-color;
                    @include appDir(direction, ltr, direction, rtl);
                    @include appDir(text-align, left, text-align, right);
                    &::placeholder {
                        color: $field-placeholder-color;
                    }
                    &:focus {
                        outline: none;
                        border-color: $primary;
                    }
                    option {
                        color: $field-color;
                    }
                }
                &[type="submit"] {
                    border-radius: $btns-border-radius;
                    padding: $btns-padding;
                    font-size: $btns-txt-size;
                    font-weight: $submit-font-weight;
                    border: 0;
                    width: $btns-width;
                    color: $submit-txt-color;
                    background: $submit-bg;
                    height: $btns-height;
                }
            }
            textarea {
                height: $ta-height;
            }
            .select-box {
                width: 100%;
                border-width: $field-border-width;
                border-color: $field-border-color;
                border-style: solid;
                border-radius: $field-border-radius;
                position: relative;
                &::after {
                    width: 0;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top: 7px solid $field-placeholder-color;
                    position: absolute;
                    top: 44%;
                    @include appDir(right, 1px, left, 1px);
                    content: "";
                    z-index: 6;
                }
                select {
                    border: none;
                }
            }
        }
    }
    @content;
}
