@mixin mySlider($height) {
  .slideshow-container {
    position: relative;
    margin: auto;
    height: $height;
    .mySlides {
      height: 100%;
      img {
        min-width: 100vw;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
      }
      .slide-inner {
        position: absolute;
        top: 0;
        @include appDir(left, 0, right, 0);
        height: $height - 30vh;
        width: 60%;
        overflow: hidden;
        .slide-content {
          position: absolute;
          z-index: 6;
          bottom: 5%;
          @include appDir(left, 0, right, 0);
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          .slide-hint {
            color: $primary;
            font-size: 1rem;
          }
          .slide-title {
            font-size: 2.8vw;
            color: white;
            font-weight: bold;
            margin: 10px 0 20px;
          }
          .slide-btn {
            display: flex;
            color: white;
            font-size: 1.1rem;
            width: 150px;
            height: 45px;
            justify-content: center;
            align-items: center;
            font-weight: 500;
          }
        }
      }
      &.show {
        animation-name: fadeIn;
        animation-duration: 1s;
        .slide-content {
          animation-name: slideIn;
          animation-duration: 1s;
        }
      }
      &:not(.show) {
        .slide-content {
          animation-name: slideOut;
          animation-duration: 1s;
        }
      }
    }
    .controls {
      position: absolute;
      z-index: 3;
      top: 50%;
      transform: translateY(-50%);
      @include appDir(right, 0, left, 0);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .prev,
      .next {
        cursor: pointer;
        color: black;
        font-size: 18px;
        transition: 0.6s ease;
        background: $secondary;
        border-radius: 3px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: $primary;
          color: white;
        }
        margin-top: 5px;
      }
    }
    .dots-cont {
      position: absolute;
      bottom: 15px;
      z-index: 3;
      left: 50%;
      transform: translateX(-50%);
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: $secondary;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &:hover,
        &.active {
          background-color: $primary;
        }
      }
    }
  }
}

@keyframes slideIn {
  0% {
    bottom: -50%;
    opacity: 0;
  }
  50% {
    bottom: -50%;
    opacity: 0;
  }
  to {
    opacity: 1;
    bottom: 5%;
  }
}

@keyframes slideOut {
  0% {
    bottom: 5%;
    opacity: 1;
  }
  50% {
    bottom: -50%;
    opacity: 0.5;
  }
  100% {
    bottom: -50%;
    opacity: 0;
  }
}
